<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="<%= webpackConfig.output.publicPath %>favicon.ico">
    <title>user</title>

	<style>
		table.main {border-left:1px solid silver; border-top:1px solid silver}
		table.main td {border-right:1px solid silver; border-bottom:1px solid silver; padding:5px}
	</style>
	
  </head>
  <body>
    <noscript>
      <strong>We're sorry but user doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
