<template>
	<v-container fluid>
		<h2>Форма авторизации</h2>

		<v-container fluid grid-list-md>
			<v-layout row>
				<v-flex xs2><v-text-field v-model="login" placeholder="Введите логин"/></v-flex>
				<v-flex xs2><v-text-field type="password" v-model="password" placeholder="Введите пароль"/></v-flex>
				<v-flex xs2><v-btn small :disabled="login=='' || password==''" @click="auth">Авторизация</v-btn></v-flex>
			</v-layout>
		</v-container>
	</v-container>
</template>

<style>

</style>

<script>
import Backend from "@/backend.js";

import router from '../router'

export default {
	name: "Auth",
	data(){
		return {
			login:"geogramma_test",
			password:"geogramma_test"
		};
	},

	methods:{
		auth()
		{

			Backend.getUserByLogin(this.login, this.password, (user)=> {
					this.$router.push("/tasklist");
				});
		},

		checkButton()
		{
			return(this.login!="" && this.password!="");
		}
	},

	beforeCreate(){
		authToken=localStorage.getItem("token");

		if(authToken)
		{
			Backend.getUserByToken(authToken, (user)=>this.$router.push("/tasklist"));
			return;
		}
	}

}
</script>