<template>
	<v-container fluid v-if="currentUser!=null" grid-list-xl>
		<v-layout row>
			<v-flex><h2>Профиль пользователя</h2></v-flex>
		</v-layout>
		
		<v-layout row>
			<v-flex>
				<b>{{currentUser.data.attributes.fullName}}. Задач: {{currentUser.data.attributes.tasks}}</b>
			</v-flex>
		</v-layout>

		<v-layout row>
			<v-flex>
				<img :src="getAvatar()"/>
			</v-flex>
		</v-layout>

		<v-layout row>
			<v-flex v-if="isCurrentUser()">Токен: {{currentUser.data.attributes.token}}</v-flex>
		</v-layout>
	
		<v-layout row>
			<v-flex d-flex xs3 align-baseline>
					<v-text-field id="userLogin" v-model="currentUserLogin" @change="changeLogin($event)" :disabled="!isCurrentUser()" label="Логин"></v-text-field>
			</v-flex>
		</v-layout>


	</v-container>
</template>

<style>
input {width:400px}
</style>

<script>
import Backend from "@/backend";

export default {
	name: "Profile",
	data(){
		return {
			currentUser:null,
			currentUserLogin:""
			}
	},

	methods:{
		isCurrentUser(){
			return(this.currentUser.data.id==Backend.currentUser.data.id);
		},

		getAvatar()
		{
			return(Backend.host+this.currentUser.data.relationships.data.attributes.path);
		},

		changeLogin(event)
		{
			if(confirm("Поменять логин на \"" + event+"\"?"))
			{
				//Запрос
			}
			else
			{
				this.currentUserLogin=this.currentUser.data.attributes.login;
			}
		},

		changeCurrentUser(user)
		{
			this.currentUser=user;
			this.currentUserLogin=user.data.attributes.login;
		}

	},
	watch:
	{
	'$route' (to, from)
		{
			if(this.$route.params.id)
			{
				Backend.getUser(this.$route.params.id, (object)=>this.changeCurrentUser(object));
			}
			else
			if(Backend.currentUser==null)
			{
				Backend.getUserByToken(localStorage.getItem("token"), (object)=>this.changeCurrentUser(object));
			}
			else
			{
				this.changeCurrentUser(Backend.currentUser);
			}
		}
    },
	
	beforeMount(){

		if(Backend.currentUser==null)
		{
			Backend.getUserByToken(localStorage.getItem("token"), (object)=>this.changeCurrentUser(object));
		}
		else
		{
			this.changeCurrentUser(Backend.currentUser);
		}

		if(this.$route.params.id)
		{
			Backend.getUser(this.$route.params.id, (object)=>this.changeCurrentUser(object));
		}
	}
}
</script>