<template>
	<div>
		<h2>Список задач</h2>

		<table width="100%" class="main" cellpadding="0" cellspacing="0">
		<tr v-for="(item, index) in taskList" :key="index">
			<td>{{index+1}}</td>			
			<td>{{item.attributes.tile}}</td>
			<td>{{item.attributes.subject}}</td>
			<td><v-btn small :color="item.relationships.state.data.relationships.attributes.name">{{item.relationships.state.data.relationships.attributes.name}}</v-btn></td>
			<td><router-link :to="'/user/'+item.relationships.user.data.id">{{item.relationships.user.data.attributes.fullName}}</router-link></td>
			<td><v-btn small width="150" @click="$router.push('/tasklist/'+item.id)">Просмотреть</v-btn></td>
			<td><v-btn small @click="$router.push('/tasklist/'+item.id+'/edit')">Редактировать</v-btn></td>
			<td><v-btn small @click="deleteItem(item)">Удалить</v-btn></td>
		</tr>
		</table>

	</div>
	

</template>

<style>

</style>

<script>

import Backend from "@/backend.js";

export default {
	name: "TaskList",
	data()
	{
		return {taskList:[]};
	},

	methods:
	{
		deleteItem(item)
		{
			if(confirm("Действительно удалить задачу \""+item.attributes.tile+"\"?"))
			{	
				Backend.deleteTask(item, ()=>{
					for(let i=0; i<this.taskList.length; i++)
					{
						let tmp=this.taskList[i];
						if(item==tmp)
						{
							this.taskList.splice(i, 1);
							return;
						}
					}})
				//Запрос к серверу здесь
			}
		},
	},

	beforeCreate()
	{
		Backend.getTaskList((list)=>this.taskList=list);
	}
}
</script>