<template>
	<v-container fluid v-if="currentTask!=null" grid-list-xs>

		<h2>Редактирование задачи "{{currentTask.data.attributes.tile}}"</h2>

			<v-layout row>		
				<v-flex>
					<router-link :to="'/user/'+currentTask.data.relationships.user.data.id">{{currentTask.data.relationships.user.data.attributes.fullName}}</router-link><br/>
				</v-flex>
			</v-layout>
					
			<v-layout row>		
				<v-flex xs4>
					<v-text-field label="Задача" id="taskTitle" type="text" v-model="currentTask.data.attributes.tile"/>
				</v-flex>
			</v-layout>

			<v-layout row>		
				<v-flex xs4>
					<v-text-field label="Тема" id="taskSubject" type="text" v-model="currentTask.data.attributes.subject"/>
				</v-flex>
			</v-layout>

			<v-layout row>		
				<v-flex xs4>
					<v-text-field label="Описание" multi-line id="taskSubject" type="text" v-model="currentTask.data.attributes.description"/>
				</v-flex>
			</v-layout>

			<v-layout row>		
				<v-flex xs4>
					<v-select label="Состояние" item-text="state" item-value="abbr" persistent-hint
						:items="['success', 'error', 'waring', 'info']" id="taskState" v-model="currentTask.data.relationships.state.data.relationships.attributes.name">
						<option value="success">success</option>
						<option value="error">error</option>
						<option value="warning">warning</option>
						<option value="info">info</option>
					</v-select>
				</v-flex>
			</v-layout>
			<v-layout row>		
				<v-flex xs2>
					<v-btn small @click="saveTask">Сохранить</v-btn>
				</v-flex>
				<v-flex xs2>
					<v-btn small @click="$router.push('/tasklist')">Отменить</v-btn>
				</v-flex>
			</v-layout>
	</v-container>
</template>


<style>
input {width:400px}
select {width:400px}
textarea {width:400px; height:200px;}
</style>


<script>
import Backend from "@/backend";

export default {
	name: "TaskEdit",
	data()
	{
		return {currentTask:null, query:""};
	},

	methods:
	{
		saveTask()
		{
			Backend.updateTask(this.currentTask, ()=>{})
		}
	},
		

	beforeMount()
	{
		Backend.getTask(this.$route.params.id, (object)=>this.currentTask=object);
	}
}
</script>