<template>
	<div v-if="currentTask!=null" style="width:400px; text-align:left;">

		<h2>{{currentTask.data.attributes.tile}}</h2>
		Автор: <router-link :to="'/user/'+currentTask.data.relationships.user.data.id">{{currentTask.data.relationships.user.data.attributes.fullName}}</router-link>
		<p>
			{{currentTask.data.attributes.subject}}
		</p>
		<p>
			{{currentTask.data.attributes.description}}
		</p>
		<p>
			<v-btn small @click="showButtonMenu()" id="showMenuButton" :class="currentTask.data.relationships.state.data.relationships.attributes.name">{{currentTask.data.relationships.state.data.relationships.attributes.name}}</v-btn>
		</p>

		<div id="buttonMenu" style="display:none; position:absolute; width:120px;">
			<v-btn small @click="buttonClick('success')" color="success">sucess</v-btn><br/>
			<v-btn small @click="buttonClick('error')" color="error">error</v-btn><br/>
			<v-btn small @click="buttonClick('warning')" color="warning">warning</v-btn><br/>
			<v-btn small @click="buttonClick('info')" color="info">info</v-btn><br/>
		</div>
	</div>
</template>


<style>

</style>

<script>

import Backend from "@/backend";

export default {
	name: "Task",
	data()
	{
		return {currentTask:null, query:""};
	},

	methods:
	{
		buttonClick(state)
		{
			this.hideButtonMenu();
			if(confirm("Поменять статус на\""+state+"\"?"))
			{
				Backend.changeState(this.currentTask, state, ()=>{
					this.currentTask.data.relationships.state.data.relationships.attributes.name=state;
				});
				//Send request here
			}
		},

		showButtonMenu(){
			let menu=document.getElementById("buttonMenu");
			let button=document.getElementById("showMenuButton")

			if(menu.style.display=="block")
				this.hideButtonMenu();
			else
			{
				button.style.position="absolute";
				menu.style.top=button.offsetTop+50;
				menu.style.left=button.offsetLeft;
				menu.style.display="block";
				button.style.position="";
			}
		},

		hideButtonMenu()
		{
			let menu=document.getElementById("buttonMenu");
			menu.style.display="none";
		}
	},
		

	beforeMount()
	{
		Backend.getTask(this.$route.params.id, (object)=>this.currentTask=object);
	}
}
</script>