<template>
	<v-app id="inspire">
		<v-toolbar app>
			<router-link to="/" exact>Авторизация</router-link>&nbsp;&nbsp;|&nbsp;&nbsp;
			<router-link to="/tasklist" exact>Список задач</router-link>&nbsp;&nbsp;|&nbsp;&nbsp;
			<router-link to="/profile" exact>Профиль пользователя</router-link>			
		</v-toolbar>
		<v-content>
		<v-container fluid>

			
			<router-view></router-view>	



		</v-container>
		</v-content>
	</v-app>
</template>







<!--
<template>
<div style="padding:20px">
	<h1>Тестовое задание</h1>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<router-link to="/" exact>Авторизация</router-link>&nbsp;&nbsp;|&nbsp;&nbsp;
		<router-link to="/tasklist" exact>Список задач</router-link>&nbsp;&nbsp;|&nbsp;&nbsp;
		<router-link to="/profile" exact>Профиль пользователя</router-link>

	</nav>

	<router-view></router-view>
</div>
</template>
-->


<script>

import 'vuetify/dist/vuetify.min.css'
import Vue from 'vue'
import Vuetify from 'vuetify'

Vue.use(Vuetify)

export default {
  		name: 'App'
	}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
